@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 200 10% 10%;
    --foreground: 200 10% 95%;
    --card: 200 10% 13%;
    --card-foreground: 200 10% 95%;
    --popover: 200 10% 13%;
    --popover-foreground: 200 10% 95%;
    --primary: 200 10% 90%;
    --primary-foreground: 200 10% 12%;
    --secondary: 200 10% 25%;
    --secondary-foreground: 200 10% 95%;
    --muted: 200 10% 25%;
    --muted-foreground: 200 10% 85%;
    --accent: 200 10% 30%;
    --accent-foreground: 200 10% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 200 10% 98%;
    --border: 200 10% 23%;
    --input: 200 10% 23%;
    --ring: 200 10% 90%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 200 10% 10%;
    --foreground: 200 10% 95%;
    --card: 200 10% 13%;
    --card-foreground: 200 10% 95%;
    --popover: 200 10% 13%;
    --popover-foreground: 200 10% 95%;
    --primary: 200 10% 90%;
    --primary-foreground: 200 10% 12%;
    --secondary: 200 10% 25%;
    --secondary-foreground: 200 10% 95%;
    --muted: 200 10% 25%;
    --muted-foreground: 200 10% 85%;
    --accent: 200 10% 30%;
    --accent-foreground: 200 10% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 200 10% 98%;
    --border: 200 10% 23%;
    --input: 200 10% 23%;
    --ring: 200 10% 90%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-br from-blue-600 to-purple-600;
  }
  .gradient-title {
    @apply gradient font-extrabold tracking-tighter pr-2 pb-2 text-transparent bg-clip-text;
  }
}

.hero-image-wrapper {
  perspective: 1000px;
}

.hero-image {
  /* transform: rotateX(20deg) scale(0.9) translateY(-50); */
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.hero-image.scrolled {
  transform: rotateX(0deg) scale(1) translateY(40px);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add this class */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}
